@page
@model WhammyWeb.Pages.Customer.Cart.IndexModel

<section class="h-100 h-custom">
    <form class="container h-100 py-5" method="post">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="w-100 d-flex">
                <a href="~/Customer/Home/Index" class="btn btn-info">Continue shopping</a>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="h5">Shopping Bag</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.shoppingCartList)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="@item.MenuItem.Image" class="img-fluid rounded-3"
                                                 style="width: 120px;" alt="Book">
                                            <div class="flex-column ms-4">
                                                <p class="mb-2">@item.MenuItem.Name</p>
                                                <div class="d-flex">
                                                    <p class="badge badge-info text-light bg-primary" style="margin-right:10px;">@item.MenuItem.Category.Name</p>
                                                    <p class="badge badge-danger text-light bg-info">@item.MenuItem.FoodType.Name</p>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <div class="d-flex flex-row">
                                            <button class="btn btn-link px-2" asp-page-handler="minus" asp-route-cartId="@item.Id">
                                                <i class="bi bi-dash"></i>
                                            </button>

                                            <input id="form1" asp-for="@item.Count" min="0"
                                                   class="form-control form-control-sm" style="width: 70px;" />

                                            <button class="btn btn-link px-2" type="submit" asp-page-handler="plus" asp-route-cartId="@item.Id">
                                                <i class="bi bi-plus"></i>
                                            </button>

                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">$@item.MenuItem.Price</p>
                                    </td>
                                    <td class="align-middle">
                                        <button class="btn bg-primary text-white" type="submit" asp-page-handler="remove" asp-route-cartId="@item.Id">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                    <div class="card-body p-4">

                        <div class="row">
                            <div class="col-3 d-flex flex-column" style="margin-left:auto;">

                                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                    <h3 class="mb-2" style="font-weight:bold;">Total</h3>
                                    <h3 class="mb-2">$@Model.CartTotal</h3>
                                </div>

                                <a href="Cart/Summary" class="btn btn-primary" style="margin-left:auto;">
                                    <span>Summary </span>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</section>